<!doctype html>
<html>
<head>
	<meta charset="utf-8">

	<!-- Always force latest IE rendering engine or request Chrome Frame -->
	<meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">

	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">

	<title>Building your first business site. - Tactically Creative</title>
	<meta name="description" content="Building websites for small business. Static site specialist, Jamie Dumont from Tactically Creative tells you how.">

	<!-- OpenGraph Meta Tags -->
	<meta property="og:title" content="Building your first business site - Tactically Creative" />
	<meta property="og:site_name" content="Building your first business site - Tactically Creative"/>
	<meta property="og:description" content="Building websites for small business. Static site specialist, Jamie Dumont from Tactically Creative tells you how." />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="{{ .Permalink }}" />
	<meta property="og:image" content="{{ .Site.BaseURL }}images/bicyclebear.jpg" />

	<!-- Facebook Page Admin ID for Domain Insights -->
	<meta property="fb:admins" content="jamiedumont0" />

	<!-- Twitter Card Meta Tags -->
	
	<meta name="twitter:card" content="summary_large_image"/>
	<meta name="twitter:image:src" content="{{ .Site.BaseURL }}images/bicyclebear.jpg"/>

	<meta name="twitter:title" content="Building your first business site - Tactically Creative"/>
	<meta name="twitter:description" content="Building websites for small business. Static site specialist, Jamie Dumont from Tactically Creative tells you how."/>
	<meta name="twitter:site" content="@tac_Creative"/>
	<meta name="twitter:domain" content="Tactically Creative"/>
	<meta name="twitter:creator" content="@tac_Creative"/>

	<link rel='stylesheet' type='text/css'href='http://fonts.googleapis.com/css?family=Roboto:300italic,300,500|Merriweather:400,700italic,700' >
	<link rel='stylesheet' type='text/css' href='/css/main.css'>

</head>

<body>

	<section class="container" id="header">
		

		<div class="content">

			<h1 class="main-header"><span>On the</span><br> Creation <span class="kern">of</span> Websites</h1>

			<h2 class="lined-header"><span>Jamie Dumont</span></h2>

			<p class="centered-text">This site is an interpretation of a talk I gave to a group of entrepreneurs from the Fizzle community in London on 24 June 2015.</p>

		</div>

	</section>

	<section class="container" id="welcome">

		<div class="content">

			<article>
				<p>Before we begin, I&#8217;d like to thank everyone that came to the event on the night. Rob, Heena and Chris did a fantastic job of organising it and I am thoroughly looking forward to attending the next one! The <a target="_blank" href="http://fizzle.co/?aid=8451">Fizzle community</a> is brilliant, but I particularly love what our little London group is becoming! It was great chatting to you all after the talk and answering your questions. I hope what I&#8217;ve scribbled down here is of use to you all.</p>
			</article>

		</div>

	</section>

	<section class="container" id="nav">

		<div class="content">

			<nav>
				<h2>Index</h2>
				<ul>
					<li><a href="#intro">Introduction</a></li>
					<li><a href="#fundamentals">The Fundamentals</a></li>
					<li><a href="#purpose">Your Site&#8217;s Purpose</a></li>
					<li><a href="#content">Content is King</a></li>
					<li><a href="#process">Don&#8217;t Build a Book</a></li>
					<li><a href="#data">Data[full-stop]</a></li>
					<li><a href="#cms">CMS Wastelands</a></li>
					<li><a href="#me">About Me</a></li>
				</ul>
			</nav>

		</div>



		
	</section>

	<section class="container" id="intro">

		<div class="content">

			<h2>Introduction</h2>

			<p>Building a business is hard, and never let anyone convince you otherwise. It however isn&#8217;t tricky, confusing or even difficult (OK, it might be at times&#8230;) but most of all it&#8217;s just <em>&#8216;Hard&#8217;</em> with a capital <em>&#8216;H&#8217;</em>! It requires grit, determination and tenacity. You have to be in it for the long haul, and derive some pleasure from the slog; because you&#8217;re going to be there for a while!</p>

			<p>However, building a website for your business <s>is, nay</s> should be the opposite of this. It can be confusing when wrapping your head around it initially, but ultimately it&#8217;s a pleasant experience where the rewards are tangible, and genuinely excite most people. Too often I see people and businesses making their web projects far more complex than they need to be. As long as you stick to a few basic rules, and don&#8217;t try to run before you can walk (the biggest issue I encounter), it&#8217;s a really rewarding experience.</p>

			<p>As Fizzlers, you&#8217;ll already be aware of a lot of the advice below. Fizzle has an excellent course on building a website, plus lots of advice and feedback available in their forums. Make use of it! This site just serves as a good reference point for a few of the basics.</p>

		</div>

	</section>

	<section class="container" id="fundamentals">

		<div class="content">

			<h2>The Fundamentals</h2>

			<p>There is a lot written online about the sexy side of building a website. There&#8217;s a huge array of articles about the latest and greatest technology, and literally millions of op-ed pieces about how to maximise your business with this &#8216;hot&#8217; template or &#8220;3 Weird Metrics You Didn't Know&#8221;. The problem is, much of this is totally irrelevant to building your first website!</p>

			<p>What isn&#8217;t written about so much is the fundamentals of <s>web</s> design. These fundamentals actually prioritise communication over visuals. The visuals are just the vehicle for the communication. When it is written about, it&#8217;s often included as the content of a paid-for membership site, premium eBook or online course. The fundamentals seem to be some sort of secret that everyone already knows, but is willing to pay to be reminded about.</p>

			<p class="micro-text"><em>Note to self:</em> Turn this site into paid-for membership site&#8230;get rich&#8230;</p>

			<p>Often, the success or failure of a website comes down to your execution of these essentials, with everything else not really impacting. They are genuinely the Alpha and the Omega, and if you nail them, you can commit all sorts of atrocities and faux-pas with the rest of your site and still succeed.</p> 

			<blockquote>These Fundamentals are important enough that I feel I should spend 90% of this page re-iterating them over and over again, just to get across that they are truly <em>&#8220;make or break&#8221;</em>.</blockquote>

		</div>

	</section>

	<section class="container" id="purpose">

		<div class="content">

			<h2>Your Site&#8217;s Purpose</h2>

			<p>The fundamental <em>&#8216;Fundamental&#8217;</em> is Purpose. By this, I mean that your site should exist for one, easy to explain reason. Before we examine how to determine the Purpose that underpins your entire project, let&#8217;s look at what happens if you skip over this essential. <span class="micro-text">My use of captial &#8216;P&#8217; for &#8216;Purpose&#8217; is very much intentional!</span></p>

			<p>Without defining a Purpose you&#8217;ll end up lost, and start creating content that doesn&#8217;t serve your interests, or will get distracted by exciting features that provide little real value. You&#8217;ll be building your site &#8216;cowboy style&#8217;.</p>
			
			<figure>
				<img src="http://frankchimero.com/writing/the-webs-grain/bicyclebear.jpg" alt="A bear riding a bike...who'd have thunk it!">
				<figcaption>Image sourced from Frank Chimero's article "The Web's Grain"</figcaption>
			</figure>
			

			<p>Build &#8216;cowboy style&#8217; for long enough, and you&#8217;ll probably end up making what Frank calls a &#8220;bicycle bear website&#8221; in his brilliant article <a target="_blank" href="http://frankchimero.com/writing/the-webs-grain/">&#8216;The Web&#8217;s Grain&#8217;</a>. He uses the term to describe websites that fight against what the web was designed for with the aim of creating something fancy and &#8216;different&#8217;. His line of thought goes something like this&#8230;</p>

			<blockquote>
				<p>&#8220;Listen bub,&#8221; I say, &#8220;it is very impressive that you can teach a bear to ride a bicycle, and it is fascinating and novel. But perhaps it’s cruel? Because that’s not what bears are supposed to do. And look, pal, that bear will never actually be good at riding a bicycle.&#8221;</p>

				<p>This is how I feel about so many of the fancy websites I see. &#8220;It is fascinating that you can do that, but it’s really not what a website is supposed to do.&#8221;</p>

				<footer>- <a target="_blank" href="http://frankchimero.com/writing/the-webs-grain/">Frank Chimero</a></footer>
			</blockquote>


			<p>I feel that the notion of &#8216;bicycle bear websites&#8217; extends to sites without a purpose, as really; what&#8217;s the point? Yes you may get a few people to &#8216;ooh&#8217; and &#8216;ahh&#8217; over how professional you are for having such a flashy website, but really what does it matter? If your user&#8217;s interest is fleeting because there was no real substance to make them stick around after the &#8216;ooo&#8217;s and &#8216;ahh&#8217;s subside; then you&#8217;ve just lost a potential lead, and really your website is just an amusing sideshow <span class="micro-text">(maybe you could hire that bear?)</span></p>

			<p>Getting down to the nitty gritty, avoiding hipster-bike-riding-bears along the way; you should be able to confidently answer the following question:</p>
			
			<blockquote class="big-bq">&#8220;How will building this site improve my business?&#8221;</blockquote>

			<p>Answering with &#8220;..to support my business!&#8221; isn&#8217;t going to cut it!</p>

			<ul class="indented-emphasis">
				<li>What will this site change about your business?</li>
				<li>What assets will it provide you with that you don&#8217;t already have?</li>
			</ul>

			<p>When you&#8217;re trying to define your site&#8217;s purpose, always dig one question deeper. Get really specific and intimate with it!</p>

			<h3>For example&#8230;</h3>

			<p>You&#8217;re a writer with a very focussed and specific niche, that not many people know about; let&#8217;s call it &#8216;Topic X&#8217; You are obviously writing content that will be new and informative to many people, and probably of value to some of them, if it can improve their life in some tangible way. What purpose should your website fulfil?</p>

			<p>Maybe, you&#8217;ve decided your primary business goal at the moment is to grow your audience beyond the people you physically meet, and to start spreading the word about &#8216;Topic X&#8217; further afield. Therefore your site should be geared towards the communication and proliferation of your ideas on &#8216;Topic X&#8217;.</p>

			<p>There we go! In one line, we&#8217;ve defined what your new website needs to do, which we can refer back to throughout the build process. Every decision about content, design or features can be put in front of that statement, and questioned whether it help can help attain that goal.</p>

			<p>Seems simple right? You were going to do that anyway, weren&#8217;t you? You didn&#8217;t need to be very explicit about what you what the site to accomplish, as it&#8217;s all just common sense! If you still think &#8216;cowboy style&#8217; is OK, then maybe I got it wrong, and should have just spent 90% of the page writing <em>&#8220;PURPOSE&#8221;</em> in big, bold writing.</p>

		</div>

	</section>

	<section class="container" id="content">

		<div class="content">

			<h2>Content is King</h2>

			<p>The next Fundamental of your site is the Content. This seems to cause a lot of confusion. Many of my clients come to me without a clear purpose for their site, but even less know what they actually want to say on the damn thing! They expect that once all the design is done, they can just 'put it in'. Here is where we come to a chicken and egg situation&#8230;</p>

			<h3>Design vs. Content</h3>

			<p>Companies like Apple have prompted something of a design renaissance. Design is in vogue, and it&#8217;s perceived value to business has sky rocketed. As a result, every one has gone a little bit design mad the last few years. The people who before dismissed the work of a good designer as &#8216;just drawing&#8217;, with no real impact to their business&#8217; bottom line; have been well an truly proved wrong. Today, because of the proliferation of good design, everyone is far more sensitive to it than they ever have been; making it incredibly important. Finally, creatives everywhere can issue a collective sigh of relief as they have the value of their work understood&#8230;</p>

			<p>However, that doesn&#8217;t mean we can all slap a pretty theme or template on our site and call it a good days work. Making something pretty and aesthetically pleasing, everything Apple is celebrated for; is art.</p>

			<p>Design is all about communication, which means it&#8217;s all about content.</p>

			<blockquote>Without something to communicate, 'design' becomes 'art'.</blockquote>

			<p>In the real world, where businesses exist to make money; people don&#8217;t pull out their credit card because they liked the way your menu slides onto the screen. They put their money on the table because they are sat behind their computer, reading what you offer and are screaming: <em>&#8220;Me, me, me! Yes! You &#8216;get&#8217; me, and understand what I need! Let me play! Here&#8217;s my money!&#8221;</em> It&#8217;s content that does that, not design.</p>

			<p>Content will always be king. Having something important, and of value to say will always trump how you say it. I&#8217;m not going to delve into how to write good copy, or develop a content strategy to support your business&#8217; objectives; there&#8217;s heaps out there for those that can Google. Instead, remember this one tenant: </p>

			<blockquote class="big-bq">"Content dictates Design"</blockquote> 

			<p>Your content should impose it&#8217;s form on the design of a site, not the other way round! Chicken and egg conumdrum solved!</p>

		</div>

	</section>

	<section class="container" id="process">

		<div class="content">

			<h2>Don&#8217;t Build it like a Book!</h2>

			<p>The third Fundamental for building your site is Process.</p>

			<p>I&#8217;ll spare you the full, longwinded procedure for publishing a book. Needless to say there are multiple stages, each dependant on the last. Once each stage is complete, the next can be started. If any changes to a previous step are required, often all subsequent work in the &#8216;chain&#8217; is lost. This makes publishing a long, slow and very inflexible process. However, it is largely necessary, because the format of books makes certain demands of the processes that create them.</p>

			<p>Websites are not books. The old, monolithic ways of working suitable for traditional publishing are exactly that; old. A website doesn&#8217;t impose it&#8217;s limitations on the process to anywhere near the same degree as a book does, leaving you the freedom to enjoy a more relaxed, less linear workflow. However, everyone seems quite stuck in their ways, and many still cling to this staid method; now known as the &#8216;Waterfall&#8217; process.</p>

			<p>These days, buzzwords such as &#8216;Agile&#8217; and &#8216;Lean&#8217; have started cropping up to describe the way teams now endeavour to work. The aim is to make the process less linear, more flexible and reach a working product faster and more efficiently, with less &#8216;red tape&#8217; along the way.</p>

			<figure>
				<img src="http://irfanebrahim.com/wp-content/uploads/2014/12/comparison.jpg" alt="Image from Natalie Hollier's talk 'Lean Product Management for Enterprises: The Art of Known Unknowns">
				<figcaption><a href="http://www.slideshare.net/NatalieHollier/lean-strategymeetup-small">Slide from Natalie Hollier's talk 'Lean Product Management for Enterprises: The Art of Known Unknowns</a></figcaption>
			</figure>

			<p>As with Content, I&#8217;ll leave you to research &#8216;Agile&#8217; and &#8216;Lean&#8217; in more depth, but will leave you a few images from a talk that <a href="http://www.nataliehollier.com">Natalie Hollier</a> did to try and convey the differences between the methods.</p>

			<figure>
				<img src="http://irfanebrahim.com/wp-content/uploads/2014/11/Lean-vs-Waterfall-Retina-e1415415919106.jpg" alt="Image from Natalie Hollier's talk 'Lean Product Management for Enterprises: The Art of Known Unknowns">
				<figcaption><a href="http://www.slideshare.net/NatalieHollier/lean-strategymeetup-small">Slide from Natalie Hollier's talk 'Lean Product Management for Enterprises: The Art of Known Unknowns</a></figcaption>
			</figure>

			<h3>Know your MVP</h3>

			<p>&#8216;MVP&#8217; is a lovely TLA for &#8216;Minimum Viable Product&#8217;. This is smallest, most concentrated version of your idea that could exist in isolation.</p>

			<p>If we take our earlier example of a writer with a passion for &#8216;Topic X&#8217;, who wants to expand her audience; you might instantly say that she needs a blog, which ties into various social media feeds, and that she should have a landing page to convince people why reading her content is &#8220;a Good thing&#8221;, and that a newsletter would allow her to engage her audience over a longer timeframe, and&#8230;</p>

			<p><em>Stop.</em> What is it she really needs, at the bare minimum? I can tell you, it&#8217;s not a newsletter, or guest-posts combined with cross-site promotion coupled to a billion social media accounts. She needs her text, on someone else&#8217;s screen. That is it.</p>

			<p>Something so basic shouldn&#8217;t be underestimated. Take <a target="_blank" href="http://justinjackson.ca/words.html">Justin&#8217;s article</a> as an example&#8230; This also serves as a beautiful example of how Content is really all that matters.</p>

			<blockquote>
				<p>&#8220;What do you have to say? If you don&#8217;t know, there&#8217;s not much use in adding all that other cruft. Just start with one page, with a single focus. Write it and publish it, and then iterate on that. Every time you&#8217;re about to add something, ask yourself: does this help me communicate better? Will that additional styling, image, or hyperlink give my audience more understanding? If the answer's &#8220;no&#8221;, don&#8217;t add it.&#8221;</p>
				<footer>- <a target="_blank" href="http://justinjackson.ca/words.html">Justin Jackson</a></footer>
			</blockquote>

			<p>The point is that you can focus on one thing at a time. Get it polished, get it &#8216;right&#8217; and make it live. Once that&#8217;s done, refer back to your statement of purpose, and choose your next step. Choose one that will get you the furthest towards your goal with the least amount of effort for added credit (The 80/20 rule). Sure your site be very small and unassuming to begin with, but over time it will build. Your efforts become cumulative, and your site&#8217;s growth becomes exponential, because you started with solid foundations.</p>

			<p>Here&#8217;s my advice to those of you with a &#8216;Big Idea&#8217; for what your website could be and could do for you&#8230; </p>

			<ol>
				<li><p>Once you&#8217;ve got your purpose and content nailed (and only then!), sit down with a notebook and scribble out every possible idea for your site. Everything you want it to do from here to eternity! Every feature, every marketing technique, every quirky/fun/exciting design idea. You&#8217;ve got it out of your system now. Once we&#8217;re done here, hide that book until you need it again!</p></li>
				<li><p>Revisit your statement of purpose, what is the least amount of &#8216;stuff&#8217; from your notebook that you can use to make that purpose possible?</p></li>
				<li><p>Write down everything you think you need on a new piece of paper.</p></li>
				<li><p>Get another new piece of paper, and write out exactly half of what you wrote on the last piece; leaving out everything you can do without. This is about essentials, not &#8216;nice-to-haves&#8217;.</p></li>
				<li><p>Guess what? Another piece of paper&#8230; Trim more fat from your idea.</p></li>
			</ol>

			<p>You&#8217;ll want to do this until you think you can&#8217;t take anymore away. It will be hard, and you&#8217;ll be tempted to leave more than you should, but know that you&#8217;re only going to pay for this indecision in the long run. Once you&#8217;ve got your MVP defined&#8230;get building it! Because your MVP is the embodiment of simplicity, it should be really obvious where you need to start, and how to progress from here. Confusion and chaos is cut down to a dull roar.</p>

			<p>When that MVP is 90% ready, get it online. Put it in front of people. Don&#8217;t wait for &#8216;perfect&#8217;, because you&#8217;ll never make it live otherwise! Don't worry, you can go back and edit it, refine it, or add to it at a later date. Remember, we&#8217;re not publishing a book here! Don't think of it as a &#8216;production run&#8217;, more as a &#8216;cycle of continuous refinement&#8217;.</p>

			<p>Then pick features/ideas from your lists, working backwards; that will compliment or enhance what you&#8217;ve already sent out into the world.</p>

			<p>This is iterative!</p>

			<p>One objection I often hear to this approach is that people are worried about their brand and their name being out there too soon. They are worried that if a potential customer comes into contact with basic idea rather than the fully fledged idea, they&#8217;ll form a negative opinion of your brand; which could harm you at a later date.</p>

			<p>Let me dispel this myth. Firstly&#8230; sure, if your site really bombs, then they might leave it thinking &#8220;What crap!&#8221;. However, it you've treated the MVP right, it shouldn't bomb. It should be a small, polished little gem of an idea in it's purest form. It may lack finesse, style or flare; but remember your site should be all about the idea and the content, not the design. If your site flops when it&#8217;s just your idea without any design, maybe that&#8217;s a good indicator that your idea needs work. Ever heard the phrase &#8220;You can&#8217;t put lipstick on a pig&#8221;?</p>

			<p>Secondly, get over yourself! If you honestly think the negative impression your site makes (if it does) will stick with a person; you are wrong, and a little bit egotistical too. Recognise that you are one of millions publishing online, and your name won&#8217;t remain permanently etched onto a potential lead&#8217;s brain. Worst case scenario? They visit your site and leave because they were unimpressed. Six months later they stumble upon it again, vaguely recognising the name. Now, because you work iteratively, your site is much better; but still true to that original idea. They are now impressed, having completely forgotten about your old site. If they do remember your old site, they note how much it&#8217;s improved. You&#8217;ve suddenly become a symbol for growth, because you&#8217;re out there and improving. People like tagging onto growth (herd mentality) so take advantage of it!</p>

			<p>As if to prove a point, the last three paragraphs never made the original site. They were added at a later date, when I had more time to consider each section. I grew this site, and you didn&#8217;t even notice!</p>

		</div>

	</section>

	<section class="container" id="data">

		<div class="content">

			<h2>Data</h2>

			<p>This is the last, most enduring fundamental. I won&#8217;t go into it too much, as there are so many resources out there about using data to your advantage (Fizzle included)</p>

			<p>All you need to know, is that data, in the form of various metrics and statistics; can make the vast majority of your decisions for you. Everyone cites &#8216;entrepreneurial insight&#8217; or intuition as the force that allows people to build businesses from nothing. The truth is that they are probably not using some divine power that us mere-mortals can&#8217;t comprehend. They are probably just getting things out there, listening to the feedback and data, and then acting on it. By the time you hear about &#8216;over-night success Jonny&#8217; or &#8216;midas-touch Jane&#8217;, they&#8217;ve probably been hard at it for years, slowing refining their idea based on solid data.</p>

			<p>You won&#8217;t know whether something is a good idea or not with any certainty until you try it. If you try it, and it doesn&#8217;t go so well, but you&#8217;re tracking why it&#8217;s not working, you can use that data to point to what may provide better results.</p>

			<p>This dovetails beautifully with iterative workflows, and one really doesn&#8217;t work without the other. Website development shouldn&#8217;t be a project that lasts three months, is marked complete and not touched again until a redesign is required two years later. It should be a cycle of constant improvement.</p>

			<p>Digital Telepathy, which is a company I really admire for demonstrating how things should be done, have coined the phrase &#8216;Betterment&#8217;. This really resonates with how I believe sites should be built. Everyday, you turn up and try to make one thing better than  it was before you started. For the <a target="_blank" href="http://fizzle.co/?aid=8451">Fizzlers</a> reading, I highly recommend watching Chuck Longanecker&#8217;s &#8216;Founder Story&#8217; where he explains this philosophy in more detail.</p>

		</div>

	</section>

	<section class="container" id="cms">

		<div class="content">

			<h2>Fundamentals&#8230;done!</h2>

			<p>Now that I&#8217;ve covered the important stuff, I can move onto what you were all expecting me to talk about&#8230;</p>

			<img class="icon" src="http://y-designs.com/images/stories/blog/2013/February/26/cms-battle.jpg" alt="Image taken from y-designs.com">

			<h3>CMS Choice</h3>

			<p>We&#8217;re into the badlands now. I&#8217;ll pre-empt this section with a disclaimer, as I know I&#8217;m likely to cause a riot with some of my opinions. This section is chock full of opinions. Many of them I can back up with statistical analysis and fact. Some, I can&#8217;t.</p>

			<p>However, everything that follows has been learnt whilst building a business making websites for people, who are really very happy with my results! I also have the pleasure of enjoying my work because I truly believe in what I do/say/practice.</p>

			<p>I could talk for hours about this stuff, trust me; my wife will attest to that given half a chance! I&#8217;ll try to keep this brief.</p>

			<h3>A Few Basics&#8230;</h3>

			<p>Know that the decision you make over how your site is built (DIY vs Hired Professionals) and what it&#8217;s built with (technologies, CMS&#8217;, processes) isn&#8217;t set in stone. It certainly isn&#8217;t life threatening, not that you would believe so with the importance many place on the decision! Make the best decision you can, today, with the information you have at your disposal right now; and work with it. If in a few years, your decision is starting to cause friction, it might be time to re-evaluate. Whilst there is real value in looking forward, and hoping to predict your future needs and requirements; designing and building for your needs today in the here and now is a far safer, saner approach.</p>

			<p>Below, I&#8217;m going to talk about three rough options. They line up more with schools of thought than specific technologies. Some suit the DIYers, others suit business people who would rather hire a professional so they can remain 100% focussed on their business. It&#8217;s a case of everyone is differnet, and requires something different from their web platform. Without further a-do, let&#8217;s jump into the first option&#8230;</p>

			<h3>Squarespace</h3>

			<p>It&#8217;s fast to set up, stress-free to manage, and perfect for a novice wanting to get stuck in whilst keeping their hands pretty clean.</p>

			<p>If this&#8230;</p>

			<div class="code">
				<code>
				git add . <br>
				git commit -m "Updating the mixins" <br>
				git push <br>
				</code>
			</div>

			<p>&#8230;or this&#8230;</p>

			<div class="code">
				<code>
				.dark-on-light {<br>
				@include font-smoothing(off);<br>
				} <br>

				.light-on-dark {<br>
				@include font-smoothing(on);<br>
				}
				</code>
			</div>
			

		<p>&#8230; scares you. Squarespace is probably a good choice.</p>
		<h4>Positives</h4>

		<p>Squarespace takes care of a lot of the faff of getting a website going, and all for a really low monthly fee. By rolling up the purchase of a domain name and hosting, and providing tools for content management, design (really beautiful, if slightly generic), SEO, analytics, all with passable support; they offer something perfectly suited to you guys! It&#8217;s a predictable, safe business decision.</p>

		<p>For a new business idea, it&#8217;s perfect. Its low cost and lack of &#8216;tie-in&#8217; fits so well with the idea of building iteratively and quickly refining your idea with data. Often, your business plan will change and evolve a lot over its first year. It makes no sense plowing lots of money and time into a custom CMS system built for you, with oodles of bespoke design, only to find your business changing direction six months later.</p>

		<p>It&#8217;s quite telling that as a web designer and developer; whenever I visit the Squarespace site, I wonder why I people come to me for their first websites! There are good reasons, and situations where you&#8217;d speak to someone like me instead of using Squarespace, but for new businesses; I try to make a case against it!</p>

		<h4>Negatives</h4>

		<p>However, it isn&#8217;t all it&#8217;s cracked up to be. You have to remember that you&#8217;re building within someone else&#8217;s idea of what a website should be. That&#8217;s good in the early stages when some hand-holding and direction helps, but frustrating when you start finding it&#8217;s limitations. Squarespace is, and will always be, a walled garden. It&#8217;s great when you&#8217;re in it, but try to push beyond it&#8217;s boundaries and you&#8217;ll start struggling. For some people these boundaries will never appear, others will find them very quickly depending on their needs. Also, sometimes things don&#8217;t always work quite as easily as they should, and when they don&#8217;t; solutions are hard to come by as much of the system is a &#8216;blackbox&#8217; that can&#8217;t be touched.</p>

		<p>Personally, I don&#8217;t like &#8216;black-boxes&#8217;. I&#8217;m a control freak, and I don&#8217;t like the idea of being held hostage to opaque processes. Whilst Squarespace aren&#8217;t the worst offenders, they don&#8217;t make moving on from their service easy. There&#8217;s definitely a great incentive to stick with them, as moving to another solution can be traumatic. If we ignore all the implications of leaving, such as design and system-specific knowledge; and focus purely on your content and data stored in their system, we can see the problem.</p>

		<p>Your content is what is actually valuable on your site. As we now knoe, that is essence of any site. Getting that data out of Squarespace is not fun. They allow you export data to an XML format suitable for Wordpress, but as I&#8217;ll later explain, this would be something of a downgrade. Tools to convert XML to useful formats like .MD (which is incredibly good) do exist, but they are tricky and not for the faint hearted.</p>

		<p>Whenever my clients leave Squarespace to build a new site with me, it&#8217;s always a case of:</p>

		<blockquote>&#8220;It&#8217;s not you Squarespace, it&#8217;s me.&#8221;</blockquote>

		<p>There comes a point where the simplicity becomes restrictive, and the added work required to make the system meet your needs outweighs the benefits of that simplicity.</p>

		<p><em>One reason to stay away:</em> You don&#8217;t have complete control of your most important asset - content. In my short career I&#8217;ve seen a lot of services who own people&#8217;s content come and go, either through bankruptcy, being acquired or just changing direction. At best it&#8217;s an inconvenience when you&#8217;re forced to move on, at worst I&#8217;ve seen whole companies decide to start over, as it's easier.</p>

		<h3>Wordpress</h3>

		<p>I can&#8217;t <em>not</em> mention Wordpress. Unfortunately not many people will like what I have to say.</p>

		<p>I believe that Wordpress has become a &#8220;No Mans Land&#8221; of web development. It became the de-facto tool of choice not because it is the best, but because it <em>was</em> the best choice&#8230;at the time. Wordpress&#8217; rise to fame came about because it was one of the first to free content creators from their web teams, who up until then, were required to make changes or upload new copy. Web developers were the gatekeepers to the internet for a lot of businesses, and we often didn&#8217;t take that responsibility seriously. When the opportunity came to yank the keys from our hands, businesses jumped at the chance.</p>

		<p>Wordpress is a product of it&#8217;s time. It served a purpose perfectly at the time, but over the years it&#8217;s tried to grow into something else entirely through the use of plugins and themes. That&#8217;s caused it to become bloated, slow and complex (compared to modern alternatives). Had it been developed today, someone would have said &#8220;Great idea, now lets fix all the broken things!&#8221;</p>

		<p>The reason I call it a &#8217;No Mans Land&quot; is because it doesn&#8217;t really suit anyone, now that it caters to everyone. For novices wanting to get started, with no clue about building a site or desire to learn; systems like Squarespace, Ghost and even Facebook Pages offer a better solution.</p>

		<p>For novices wanting to get their hands really dirty and learn about how a website is built so that they can grow with their site, there are better alternatives. Wordpress is built on PHP, which whilst still a totally relevant language that much of the web is built upon, Wordpress&#8217; usage of it is pretty crap to be honest. PHP has a bit of a reputation for being &#8216;hacky&#8217;. This is totally unfair, as when used properly it&#8217;s very clean. The issue is most people have only ever seen PHP within Wordpress, which is the definition of &#8216;hacky&#8217;.</p>

		<p>Ultimately, it&#8217;s not the system I&#8217;d recommend to those wanting to learn web development. Alternatives like Craft, Statamic or even the vast array of static site generators such as Jekyll or Hugo offer a better stepping stone to learning the fundamentals, whilst building a site that can be iterated on for years to come. If you want to get started with this, drop me an <a href="mailto:jamie@tactically-creative.co.uk">email</a> and I&#8217;ll be more than happily point you in what I think is the best direction.</p>

		<p>Lastly, I couldn&#8217;t comfortably recommend anyone spend good developer money on a website based around Wordpress. The money you spend as a client when you go to a professional should be considered an investment, which I don&#8217;t believe it is if Wordpress is the developer&#8217;s platform of choice. It is instead a large financial commitment to endless frustration, hassle and yet more wasted money.</p>

		<p> I suspect every Wordpress developer is now finding their flaming-torches and pitchforks, and Googling where I live. I understand and heck, I even accept your reaction to me pouring a bucket of fuel over your career and fumbling with the matches. As a trade, try to accept that Wordpress isn&#8217;t the only show in town anymore, and a lot of the others are much better than yours! <span class="micro-text">They don't open with bears riding bikes though...</span> Sorry&#8230;</p>

		<h3>Hiring a professional</h3>

		<p>Now that I&#8217;ve taken off my flame-proof jacket after surviving the last section, we can talk about the non-DIY option.</p>

		<p>Choosing to hire a professional designer and developer, or team of professionals shouldn&#8217;t be taken lightly. In the early days of any business, keeping costs low is important to it&#8217;s survival. That&#8217;s not to say that the money spent is not worth it. If you choose a good team or individual to work with, the results can be incredible and the money spent recouped many times over as a direct result of that team&#8217;s work!</p>

		<p>All I suggest is that you look into whether money can be saved by doing this yourself. As we&#8217;ve previously said, your first website should be a MVP, and therefore by definition; small and simple. It&#8217;s unlikely that if you&#8217;ve been honest with defining your MVP you&#8217;ll need something bespoke right away. More often than not, when speaking to an audience of business owners, I can recommend something like Ghost (for blogs) or Squarespace (for everything else) and walk away confident that most will do just fine with that recommendation.</p>

		<p>However, it might be that you have immediate needs that can&#8217;t be covered by a system like Squarespace. You might just want to start with a platform that you know will endure - and that&#8217;s perfectly cool. You might just want the website done. Hiring a professional is the quickest way to break out the rubber-stamp with &#8220;Complete&#8221; on it.</p>

		<p>I often turn away clients when I feel hiring me would be a waste of their money and that Squarespace would meet their immediate needs better. However, if I believe that hiring me is the right decision for you as a client, then I&#8217;ll gladly jump into the trenches with you! Long term, I believe that professional help is the best option for any business, even though I&#8217;m going to be biased as one of those professionals. The value and peace of mind that working with a good team or individual can bring can&#8217;t be underestimated. Even if you ignore the actual work they do, their advice and years of experience will pay for itself.</p>

		<h2>The Impact of Your Choice.</h2>

		<p>Whilst I can safely recommend hiring a professional or using Squarespace/Ghost, and be certain that one of them will fit the bill for a young business in need of a website, I understand that some of you are Digital Nomads; and that&#8217;s cool too! I ended up doing what I&#8217;m doing because I looked at systems like Squarespace and decided I wanted something different. Now that I&#8217;ve convinced you to stay away from Wordpress, where do you go?</p>

		<p>To those of you who want to venture out into the CMS Wasteland by yourself, there will be numerous factors you have to consider before you pick your weapon of choice, but these are too diverse to simply add as an appendix to this article. I very briefly covered these factors during my talk, and fielded a few questions on the subject; but I strongly advise that if you want something different, get in touch and I&#8217;ll do what I can to point you in the right direction.</p>

		<p>For those of you reading in the future (Hi there!), I&#8217;ll probably have covered this topic on my site by now. </p>

	</div>
</section>

<section class="container" id="me">

	<div class="content">

		<h2>Who am I?</h2>

		<p>Briefly, because we all hate long, self-indulgent bios. </p>

		<img src="/images/bio.png" alt="Jamie Dumont" class="bio">

		<p>My name&#8217;s Jamie, and I left my safe, secure job as Lead Web Designer at a small company; and started offering my services directly to the people who need them. I saw everything that was wrong with what was offered to a business owner by the industry, and how they were told to go about building their sites. I couldn&#8217;t stand by any longer and watch small businesses flounder when I felt the solutions were obvious.</p>

		<p><a href="http://www.tactically-creative.co.uk">Tactically Creative</a> grew out of a desire to make building websites (shock horror!) a fun process. Young businesses who are starting to grow don&#8217;t want hassle or complexity, and appreciate a solution that allows them to continue running their business; not their site.</p>

		<p>Compared to the majority of the industry, I do things differently&#8230;very differently. My processes and solutions aren&#8217;t right for everyone, but when they do suit you? Boy-oh-boy are you in for a treat!</p>

	</div>
</section>

</body>

</html>